<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cliente | House Flix</title>

    <link rel="shortcut icon" href="images/favicon.jpg" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

    <!-- Bootstrap core CSS -->
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="./css/default.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar" aria-label="Search">
        <div class="navbar-nav px-5"></div>
      </header>
      <main>
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block d-flex flex-column p-3 text-white bg-dark sidebar collapse" style="width: 228px;">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <img
                src="./images/logo-white2.png" width=30px height=25px alt="House Flix Logo"
                style="margin-right: 10px; align-self: center"
              />
              <span class="fs-4">houseflix</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="/dashboard" class="nav-link text-white mb-1">
                  <svg data-feather="layout"></svg>
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/custumer" class="nav-link active mb-1" aria-current="page">
                  <svg data-feather="user"></svg>
                  Cliente
                </a>
              </li>
              <li>
                <a href="/project" class="nav-link text-white mb-1">
                  <svg data-feather="home"></svg>
                  Projeto
                </a>
              </li>
            </ul>
            <div class="dropdown">
              <hr>
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/jhsmiranda.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Henrique Miranda</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Configurações</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/">Sair</a></li>
              </ul>
            </div>
          </nav>
  
          <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="position: absolute; left: 228px; top: 50px;">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h4 class="h4">Cliente</h4>
              <div class="btn-toolbar mb-2 mb-md-0">
                <a href="/register-custumer" type="button" class="btn btn-sm btn-outline-secondary mb-2">
                  <span data-feather="user-plus"></span>
                  Cadastrar Cliente
                </a>
              </div>
            </div>
  
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome Completo</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Informações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" style="padding-top: 12px;">1</th>
                  <td style="padding-top: 12px;">Adrian Monino</td>
                  <td style="padding-top: 12px;">adrianmonino@gmail.com</td>
                  <td><button class="btn btn-sm btn-outline-secondary" style="margin-left: 10px; width: 60px;">Abrir</button></td>
                </tr>
                <tr>
                  <th scope="row" style="padding-top: 12px;">2</th>
                  <td style="padding-top: 12px;">Socrates Itumay</td>
                  <td style="padding-top: 12px;">socratesitumay@gmail.com</td>
                  <td><button class="btn btn-sm btn-outline-secondary" style="margin-left: 10px; width: 60px;">Abrir</button></td>
                </tr>
                <tr>
                  <th scope="row" style="padding-top: 12px;">3</th>
                  <td style="padding-top: 12px;">Reynante Labares</td>
                  <td style="padding-top: 12px;">reynantelabares@hotmail.com</td>
                  <td><button class="btn btn-sm btn-outline-secondary" style="margin-left: 10px; width: 60px;">Abrir</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>

    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="./scripts/dashboard.js"></script>

    <script src="./scripts/dashboard.js"></script>
  </body>
</html>